In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler

In [6]:
df = 'adult.data'
columns=['age', 'workclass', 'fnlgwt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship',
         'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'income']
df = pd.read_csv(df, names = columns)
print("Printing the first 20 tuples of the adult dataset:\n",df.head(20),"\n")

Printing the first 20 tuples of the adult dataset:
     age          workclass  fnlgwt      education  educationnum  \
0    39          State-gov   77516      Bachelors            13
1    50   Self-emp-not-inc   83311      Bachelors            13
2    38            Private  215646        HS-grad             9
3    53            Private  234721           11th             7
4    28            Private  338409      Bachelors            13
5    37            Private  284582        Masters            14
6    49            Private  160187            9th             5
7    52   Self-emp-not-inc  209642        HS-grad             9
8    31            Private   45781        Masters            14
9    42            Private  159449      Bachelors            13
10   37            Private  280464   Some-college            10
11   30          State-gov  141297      Bachelors            13
12   23            Private  122272      Bachelors            13
13   32            Private  205019     Assoc-acdm            12
14   40            Private  121772      Assoc-voc            11
15   34            Private  245487        7th-8th             4
16   25   Self-emp-not-inc  176756        HS-grad             9
17   32            Private  186824        HS-grad             9
18   38            Private   28887           11th             7
19   43   Self-emp-not-inc  292175        Masters            14

             maritalstatus          occupation    relationship  \
0            Never-married        Adm-clerical   Not-in-family
1       Married-civ-spouse     Exec-managerial         Husband
2                 Divorced   Handlers-cleaners   Not-in-family
3       Married-civ-spouse   Handlers-cleaners         Husband
4       Married-civ-spouse      Prof-specialty            Wife
5       Married-civ-spouse     Exec-managerial            Wife
6    Married-spouse-absent       Other-service   Not-in-family
7       Married-civ-spouse     Exec-managerial         Husband
8            Never-married      Prof-specialty   Not-in-family
9       Married-civ-spouse     Exec-managerial         Husband
10      Married-civ-spouse     Exec-managerial         Husband
11      Married-civ-spouse      Prof-specialty         Husband
12           Never-married        Adm-clerical       Own-child
13           Never-married               Sales   Not-in-family
14      Married-civ-spouse        Craft-repair         Husband
15      Married-civ-spouse    Transport-moving         Husband
16           Never-married     Farming-fishing       Own-child
17           Never-married   Machine-op-inspct       Unmarried
18      Married-civ-spouse               Sales         Husband
19                Divorced     Exec-managerial       Unmarried

                   race   gender  capital-gain  capital-loss  hours-per-week  \
0                 White     Male          2174             0              40
1                 White     Male             0             0              13
2                 White     Male             0             0              40
3                 Black     Male             0             0              40
4                 Black   Female             0             0              40
5                 White   Female             0             0              40
6                 Black   Female             0             0              16
7                 White     Male             0             0              45
8                 White   Female         14084             0              50
9                 White     Male          5178             0              40
10                Black     Male             0             0              80
11   Asian-Pac-Islander     Male             0             0              40
12                White   Female             0             0              30
13                Black     Male             0             0              50
14   Asian-Pac-Islander     Male             0             0              40
15   Amer-Indian-Eskimo     Male             0             0              45
16                White     Male             0             0              35
17                White     Male             0             0              40
18                White     Male             0             0              50
19                White   Female             0             0              45

           country  income
0    United-States   <=50K
1    United-States   <=50K
2    United-States   <=50K
3    United-States   <=50K
4             Cuba   <=50K
5    United-States   <=50K
6          Jamaica   <=50K
7    United-States    >50K
8    United-States    >50K
9    United-States    >50K
10   United-States    >50K
11           India    >50K
12   United-States   <=50K
13   United-States   <=50K
14               ?    >50K
15          Mexico   <=50K
16   United-States   <=50K
17   United-States   <=50K
18   United-States   <=50K
19   United-States    >50K

In [7]:
df.drop('fnlgwt', axis = 1, inplace =True)
df.drop('education', axis = 1, inplace =True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
for columns in df:
    if df[columns].dtypes == object:
        df[columns] = le.fit_transform(df[columns])

NameError: name 'le' is not defined

In [ ]:
x=adult_data.iloc[:,0:11]
y=adult_data['income']
print("Features:\n",x,"\n")
print("income Labels:\n",y,"\n")

print("Different income labels present in the wine dataset:",adult_data['income'].unique(),"\n")

print("Labels counts:\n",adult_data.income.value_counts(),"\n")
colnames = list(adult_data.columns)
print("Column names:\n",colnames,"\n")

In [ ]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=40)
print("Shape of train and test datasets:\n", x_train, x_test, y_train, y_test,"\n")

In [ ]:
model = DecisionTreeClassifier(criterion = 'entropy', max_depth=3, max_leaf_nodes=7)
model.fit(x_train,y_train)

In [ ]:
attributes= colnames[:11]
income_values=['<=50K','>50K']

In [ ]:
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (5,3), dpi=370)
tree.plot_tree(model,
               feature_names = attributes,
               class_names = income_values,
               filled = True)
plt.show()

In [ ]:
preds = model.predict(x_test)

print("Printing income labels test data value counts\n:",y_test.value_counts(),"\n")

print("Classicfication report:\n",classification_report(y_test,preds))

print("Confusion Matrix:\n",confusion_matrix(y_test,preds))

print("\nAccuracy:",accuracy_score(y_test,preds))