# Adult Database Salary Classification

In [23]:
!pip in
import numpy as np
import pandas as pd
# from sklearn.decomposition import PCA
# import sklearn
# from sklearn import preprocessing
# from sklearn import tree
import seaborn as sns
import matplotlib.pyplot as mat
from imblearn.over_sampling import SMOTE
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE 
import graphviz 
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm


%matplotlib inline

ImportError: DLL load failed while importing _imaging: 找不到指定的模組。

In [2]:
!pip install imbalanced-learn
!pip install scikit-learn==0.21.0
from sklearn.decomposition import PCA

Requirement already satisfied: imbalanced-learn in c:\users\idsl\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\idsl\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\idsl\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\idsl\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\idsl\anaconda3\lib\site-packages (from imbalanced-learn) (1.7.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\idsl\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.6)

WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
ERROR: Could not find a version that satisfies the requirement scikit-learn==0.21.0 (from versions: 0.9, 0.10, 0.11, 0.12, 0.12.1, 0.13, 0.13.1, 0.14, 0.14.1, 0.15.0, 0.15.1, 0.15.2, 0.16.0, 0.16.1, 0.17, 0.17.1, 0.18, 0.18.1, 0.18.2, 0.19.0, 0.19.1, 0.19.2, 0.20.0, 0.20.1, 0.20.2, 0.20.3, 0.20.4, 0.21.1, 0.21.2, 0.21.3, 0.22, 0.22.1, 0.22.2.post1, 0.23.0, 0.23.1, 0.23.2, 0.24.0, 0.24.1, 0.24.2, 1.0, 1.0.1, 1.0.2, 1.1.0, 1.1.1, 1.1.2, 1.1.3, 1.2.0rc1, 1.2.0, 1.2.1, 1.2.2, 1.3.0rc1, 1.3.0, 1.3.1)
ERROR: No matching distribution found for scikit-learn==0.21.0
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)

ImportError: DLL load failed while importing _ufuncs: 找不到指定的模組。

In [3]:
data =pd.read_csv('adult.data',sep=" ", header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"39,","State-gov,","77516,","Bachelors,","13,","Never-married,","Adm-clerical,","Not-in-family,","White,","Male,","2174,","0,","40,","United-States,",<=50K
1,"50,","Self-emp-not-inc,","83311,","Bachelors,","13,","Married-civ-spouse,","Exec-managerial,","Husband,","White,","Male,","0,","0,","13,","United-States,",<=50K
2,"38,","Private,","215646,","HS-grad,","9,","Divorced,","Handlers-cleaners,","Not-in-family,","White,","Male,","0,","0,","40,","United-States,",<=50K
3,"53,","Private,","234721,","11th,","7,","Married-civ-spouse,","Handlers-cleaners,","Husband,","Black,","Male,","0,","0,","40,","United-States,",<=50K
4,"28,","Private,","338409,","Bachelors,","13,","Married-civ-spouse,","Prof-specialty,","Wife,","Black,","Female,","0,","0,","40,","Cuba,",<=50K

In [4]:
data = data.replace({'\$': '', ',': ''}, regex=True)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
data.columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','label']

In [6]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
label = data['label']
for i in range(len(label)):
    if (label[i] == '<=50K'):
        label[i] = 0
    elif (label[i]=='>50K'):
        label[i] = 1
data['label'] = label
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1

#### Replacing Missing Values

In [8]:
data.replace('?', np.nan, inplace=True)
data=data.fillna(data.mean())
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))

C:\Users\idsl\AppData\Local\Temp/ipykernel_2820/1201024496.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data=data.fillna(data.mean())

In [9]:
data.isnull().values.any()

False

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  object
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  object
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32561 non-null  object
 12  hours-per-week  32561 non-null  object
 13  native-country  32561 non-null  object
 14  label           32561 non-null  int64
dtypes: int64(1), object(14)
memory usage: 3.7+ MB

Since many of the attributes are objects, we will change some of the objects into integer types.

In [11]:
data[['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week','label'] ]=data[['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week','label']].astype(str).astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int32
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int32
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int32
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int32
 11  capital-loss    32561 non-null  int32
 12  hours-per-week  32561 non-null  int32
 13  native-country  32561 non-null  object
 14  label           32561 non-null  int32
dtypes: int32(7), object(8)
memory usage: 2.9+ MB

#### Visualising the Data

In [12]:
data_cat = data[['workclass','education','marital-status','occupation','relationship','race','sex','native-country']]
data_cat.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

We want to normalize the numerical attributes before plotting them.

In [13]:
data_cat = pd.get_dummies(data_cat)
data_cat.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
data = data.drop(['workclass','education','marital-status','occupation','relationship','race','sex','native-country'],axis=1).join(data_cat)
data.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,label,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(data)
data_norm= pd.DataFrame(np_scaled, columns = data.columns)
data_norm.head()

NameError: name 'preprocessing' is not defined

In [16]:
ax = sns.countplot(x="label", data=data_norm)

NameError: name 'sns' is not defined

In [17]:
data_norm.groupby('label').mean()

NameError: name 'data_norm' is not defined

In [18]:
data_norm.groupby('label').median()

NameError: name 'data_norm' is not defined

#### SMOTE Analysis

In [103]:
from imblearn.over_sampling import SMOTE

# Create an instance of the SMOTE class with a random_state
sm = SMOTE(random_state=42)

# Fit and resample your data
data_smote, label_smote = sm.fit_resample(data_norm.drop('label', axis=1), data_norm['label'])

In [104]:
data_smote, label_smote = sm.fit_sample(data_norm.drop('label',axis=1), data_norm['label'])

AttributeError: 'SMOTE' object has no attribute 'fit_sample'

In [105]:
data = pd.DataFrame(data_smote,columns=data.drop('label',axis=1).columns)

data.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.301370,0.044302,0.800000,0.02174,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.452055,0.048238,0.800000,0.00000,0.0,0.122449,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.287671,0.138113,0.533333,0.00000,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.493151,0.151068,0.400000,0.00000,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.150685,0.221488,0.800000,0.00000,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [106]:
Label = pd.DataFrame(label_smote,columns=['label'])
Label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49440 entries, 0 to 49439
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   49440 non-null  float64
dtypes: float64(1)
memory usage: 386.4 KB

In [107]:
data_smote = data.join(Label)
data_smote.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,label
0,0.301370,0.044302,0.800000,0.02174,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.452055,0.048238,0.800000,0.00000,0.0,0.122449,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.287671,0.138113,0.533333,0.00000,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.493151,0.151068,0.400000,0.00000,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.150685,0.221488,0.800000,0.00000,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Test-Data Upload

In [108]:
shuffle = np.random.permutation(len(data_smote))

In [109]:
test_size = int(0.2  * len(data))

In [110]:
test_index = shuffle[:test_size]
train_index = shuffle[test_size:]

In [111]:
train = data_smote.iloc[train_index]

In [112]:
test = data_smote.iloc[test_index]

#### SVM

In [28]:
clf = svm.SVC()

In [29]:
clf.fit(train.drop('label',axis=1),train['label'])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [30]:
predictions = clf.predict(test.drop('label',axis=1))

In [31]:
accuracy_score(test['label'],predictions)

0.7986448220064725

In [32]:
precision_score(test['label'],predictions)

0.7731788079470199

In [33]:
roc_auc_score(test['label'],predictions)

0.7984772600343977

In [34]:
clf_linear = svm.SVC(kernel='linear')
clf_linear.fit(train.drop('label',axis=1),train['label'])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [35]:
predictions_linear = clf_linear.predict(test.drop('label',axis=1))

In [36]:
accuracy_score(test['label'],predictions_linear)

0.8180622977346278

In [37]:
roc_auc_score(test['label'],predictions_linear)

0.817913048344982

In [38]:
clf_poly = svm.SVC(kernel='poly')
clf_poly.fit(train.drop('label',axis=1),train['label'])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='poly',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [39]:
predictions_poly = clf_poly.predict(test.drop('label',axis=1))

In [40]:
accuracy_score(test['label'],predictions_poly)

0.7477750809061489

In [41]:
roc_auc_score(test['label'],predictions_poly)

0.7476907252252571

#### Decision Trees

In [4]:
import sklearn
from sklearn import tree
dct = tree.DecisionTreeClassifier()

ImportError: DLL load failed while importing _ufuncs: 找不到指定的模組。

In [114]:
dct.fit(train.drop('label',axis=1),train['label'])

DecisionTreeClassifier()

In [115]:
prediction_dct = dct.predict(test.drop('label',axis=1))

In [121]:
accuracy_score(test['label'],prediction_dct)

0.8510315533980582

In [122]:
roc_auc_score(test['label'],prediction_dct)

0.851017733003417

#### ID3

#### C4.5

In [128]:
!pip install C4point5

Collecting C4point5
  Downloading C4point5-1.0.2-py3-none-any.whl (5.4 kB)
Installing collected packages: C4point5
Successfully installed C4point5-1.0.2

WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -python (c:\users\idsl\anaconda3\lib\site-packages)

In [130]:
from sklearn.model_selection import train_test_split
from C4point5 import C45
#from c45 import MetricGenerator
#from c45 import DecisionTree
#from c45 import C45

In [134]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Assuming you have your data loaded as data_norm and label in a DataFrame
X = data_norm.drop('label', axis=1)
y = data_norm['label']

# Split your data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a DecisionTreeClassifier instance
clf = DecisionTreeClassifier(criterion='entropy')  # You can specify 'entropy' for C4.5-like behavior

# Fit the classifier to the training data
clf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8238906801781053

#### c5.0

In [135]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Assuming you have your data loaded as data_norm and label in a DataFrame
X = data_norm.drop('label', axis=1)
y = data_norm['label']

# Split your data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a DecisionTreeClassifier instance with the 'entropy' criterion
clf = DecisionTreeClassifier(criterion='entropy')

# Fit the classifier to the training data
clf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.82081989866421

#### Bagging

In [57]:
clf_bag = BaggingClassifier(DecisionTreeClassifier(), bootstrap_features = 'true', warm_start = 'true', n_estimators=20)

In [58]:
clf_bag.fit(train.drop('label',axis=1),train['label'])

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features='true', max_features=1.0,
         max_samples=1.0, n_estimators=20, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start='true')

In [59]:
prediction_bag = clf_bag.predict(test.drop('label',axis=1))

In [60]:
accuracy_score(test['label'],prediction_bag)

0.8973503236245954

In [61]:
roc_auc_score(test['label'],prediction_bag)

0.897308423196365

#### Random Forest

In [63]:
clf_rf = RandomForestClassifier(max_depth = 20,random_state=0)

In [64]:
clf_rf.fit(train.drop('label',axis=1),train['label'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [65]:
prediction_rf = clf_rf.predict(test.drop('label',axis=1))
accuracy_score(test['label'],prediction_rf)

0.8701456310679612

#### Boosting

In [96]:
clf_b = GradientBoostingClassifier()

In [97]:
clf_b.fit(train.drop('label',axis=1),train['label'])

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [98]:
prediction_b = clf_b.predict(test.drop('label',axis=1))
accuracy_score(test['label'],prediction_b)

0.8656957928802589